#First Model. 
one hot encoding
missing values filling with 0.
logistic Regressing Parameter c

In [53]:
import pandas as pd
import numpy as np
from sklearn.preprocessing  import LabelEncoder
import os 

#tool for data visualization
import matplotlib.pyplot as plt

In [54]:
#read train file
train=pd.read_csv("application_train.csv")
#show head train
train.head(4)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
#read test file
test=pd.read_csv("application_test.csv")
#show head train
test.head(4)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0

#Correlations   (Correlation doesn't mean causation!!)

In [56]:
correlations = train.corr()['TARGET'].sort_values()
print(' Positive Correlations \n', correlations.tail(15))
print('\ Negative Correlations \n', correlations.head(15))

 Positive Correlations
 DEF_60_CNT_SOCIAL_CIRCLE       0.031276
DEF_30_CNT_SOCIAL_CIRCLE       0.032248
LIVE_CITY_NOT_WORK_CITY        0.032518
OWN_CAR_AGE                    0.037612
DAYS_REGISTRATION              0.041975
FLAG_DOCUMENT_3                0.044346
REG_CITY_NOT_LIVE_CITY         0.044395
FLAG_EMP_PHONE                 0.045982
REG_CITY_NOT_WORK_CITY         0.050994
DAYS_ID_PUBLISH                0.051457
DAYS_LAST_PHONE_CHANGE         0.055218
REGION_RATING_CLIENT           0.058899
REGION_RATING_CLIENT_W_CITY    0.060893
DAYS_BIRTH                     0.078239
TARGET                         1.000000
Name: TARGET, dtype: float64
\ Negative Correlations
 EXT_SOURCE_3                 -0.178919
EXT_SOURCE_2                 -0.160472
EXT_SOURCE_1                 -0.155317
DAYS_EMPLOYED                -0.044932
FLOORSMAX_AVG                -0.044003
FLOORSMAX_MEDI               -0.043768
FLOORSMAX_MODE               -0.043226
AMT_GOODS_PRICE              -0.039645
REGION_POPULATION_RELATIVE   -0.037227
ELEVATORS_AVG                -0.034199
ELEVATORS_MEDI               -0.033863
FLOORSMIN_AVG                -0.033614
FLOORSMIN_MEDI               -0.033394
LIVINGAREA_AVG               -0.032997
LIVINGAREA_MEDI              -0.032739
Name: TARGET, dtype: float64

In [57]:
Target = train["TARGET"]

In [58]:
train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [59]:
# columns with type=Object
train.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [60]:
test.dtypes.value_counts()

float64    65
int64      40
object     16
dtype: int64

In [61]:
#one hot encoding for train, removing categorical features

train2=pd.get_dummies(train, columns=["NAME_CONTRACT_TYPE", "CODE_GENDER", "FLAG_OWN_CAR", "FLAG_OWN_REALTY", "NAME_TYPE_SUITE", "NAME_INCOME_TYPE",
"NAME_EDUCATION_TYPE", "NAME_FAMILY_STATUS", "NAME_HOUSING_TYPE", "OCCUPATION_TYPE", "WEEKDAY_APPR_PROCESS_START", "ORGANIZATION_TYPE",
"FONDKAPREMONT_MODE", "HOUSETYPE_MODE", "WALLSMATERIAL_MODE","EMERGENCYSTATE_MODE"])

In [62]:
#one hot encoding for test
test2=pd.get_dummies(test, columns=["NAME_CONTRACT_TYPE", "CODE_GENDER", "FLAG_OWN_CAR", "FLAG_OWN_REALTY", "NAME_TYPE_SUITE", "NAME_INCOME_TYPE",
"NAME_EDUCATION_TYPE", "NAME_FAMILY_STATUS", "NAME_HOUSING_TYPE", "OCCUPATION_TYPE", "WEEKDAY_APPR_PROCESS_START", "ORGANIZATION_TYPE",
"FONDKAPREMONT_MODE", "HOUSETYPE_MODE", "WALLSMATERIAL_MODE","EMERGENCYSTATE_MODE"])

In [63]:
train2.shape

(307511, 246)

In [64]:
train2.head(10)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0,0,0,0,0,0,1,0,1,0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0,1,0,0,0,0,0,0,1,0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0,0,0,0,0,0,0,0,0,0
5,100008,0,0,99000.0,490495.5,27517.5,454500.0,0.035792,-16941,-1588,...,0,0,0,0,0,0,0,0,0,0
6,100009,0,1,171000.0,1560726.0,41301.0,1395000.0,0.035792,-13778,-3130,...,0,0,0,0,0,0,0,0,0,0
7,100010,0,0,360000.0,1530000.0,42075.0,1530000.0,0.003122,-18850,-449,...,0,0,0,0,0,0,0,0,0,0
8,100011,0,0,112500.0,1019610.0,33826.5,913500.0,0.018634,-20099,365243,...,0,0,0,0,0,0,0,0,0,0
9,100012,0,0,135000.0,405000.0,20250.0,405000.0,0.019689,-14469,-2019,...,0,0,0,0,0,0,0,0,0,0

In [65]:
#missing Values
train2.isnull().sum()

SK_ID_CURR                                       0
TARGET                                           0
CNT_CHILDREN                                     0
AMT_INCOME_TOTAL                                 0
AMT_CREDIT                                       0
AMT_ANNUITY                                     12
AMT_GOODS_PRICE                                278
REGION_POPULATION_RELATIVE                       0
DAYS_BIRTH                                       0
DAYS_EMPLOYED                                    0
DAYS_REGISTRATION                                0
DAYS_ID_PUBLISH                                  0
OWN_CAR_AGE                                 202929
FLAG_MOBIL                                       0
FLAG_EMP_PHONE                                   0
FLAG_WORK_PHONE                                  0
FLAG_CONT_MOBILE                                 0
FLAG_PHONE                                       0
FLAG_EMAIL                                       0
CNT_FAM_MEMBERS                                  2
REGION_RATING_CLIENT                             0
REGION_RATING_CLIENT_W_CITY                      0
HOUR_APPR_PROCESS_START                          0
REG_REGION_NOT_LIVE_REGION                       0
REG_REGION_NOT_WORK_REGION                       0
LIVE_REGION_NOT_WORK_REGION                      0
REG_CITY_NOT_LIVE_CITY                           0
REG_CITY_NOT_WORK_CITY                           0
LIVE_CITY_NOT_WORK_CITY                          0
EXT_SOURCE_1                                173378
                                             ...
ORGANIZATION_TYPE_Telecom                        0
ORGANIZATION_TYPE_Trade: type 1                  0
ORGANIZATION_TYPE_Trade: type 2                  0
ORGANIZATION_TYPE_Trade: type 3                  0
ORGANIZATION_TYPE_Trade: type 4                  0
ORGANIZATION_TYPE_Trade: type 5                  0
ORGANIZATION_TYPE_Trade: type 6                  0
ORGANIZATION_TYPE_Trade: type 7                  0
ORGANIZATION_TYPE_Transport: type 1              0
ORGANIZATION_TYPE_Transport: type 2              0
ORGANIZATION_TYPE_Transport: type 3              0
ORGANIZATION_TYPE_Transport: type 4              0
ORGANIZATION_TYPE_University                     0
ORGANIZATION_TYPE_XNA                            0
FONDKAPREMONT_MODE_not specified                 0
FONDKAPREMONT_MODE_org spec account              0
FONDKAPREMONT_MODE_reg oper account              0
FONDKAPREMONT_MODE_reg oper spec account         0
HOUSETYPE_MODE_block of flats                    0
HOUSETYPE_MODE_specific housing                  0
HOUSETYPE_MODE_terraced house                    0
WALLSMATERIAL_MODE_Block                         0
WALLSMATERIAL_MODE_Mixed                         0
WALLSMATERIAL_MODE_Monolithic                    0
WALLSMATERIAL_MODE_Others                        0
WALLSMATERIAL_MODE_Panel                         0
WALLSMATERIAL_MODE_Stone, brick                  0
WALLSMATERIAL_MODE_Wooden                        0
EMERGENCYSTATE_MODE_No                           0
EMERGENCYSTATE_MODE_Yes                          0
Length: 246, dtype: int64

In [66]:
#Filling NA data with 0
train3=train2.fillna(0)
test3=test2.fillna(0)

In [67]:
#test3.isnull().sum(axis=0)

In [68]:
# Align the training and testing data, 
train3, test3 = train3.align(test3, join = 'inner', axis = 1)

In [73]:
from sklearn.linear_model import LogisticRegression

# Make the model with the specified regularization parameter c. smaller values specify stronger regularization
log_reg = LogisticRegression(C = 0.01)

# Train on the training data
log_reg.fit(train3, Target)

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [74]:
log_reg_pred = log_reg.predict_proba(test3)[:, 1]

In [75]:
submit = test[['SK_ID_CURR']]
submit['TARGET'] = log_reg_pred

submit.head(10)

C:\Users\John\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   SK_ID_CURR    TARGET
0      100001  0.082551
1      100005  0.107718
2      100013  0.064377
3      100028  0.031123
4      100038  0.082125
5      100042  0.062393
6      100057  0.110279
7      100065  0.151770
8      100066  0.126934
9      100067  0.124801

In [76]:
submit.to_csv('attempt02.csv', index = False)